.center-layout {
  display: flex;
  width: 400px;
  height: 400px;
  background-color: #f66;
}
/* div { */
.center-layout div {
  margin: auto;
  width: 100px;
  height: 100px;
  background-color: #66f;
}
