/* .three-column-layout {
  display: flex;
  height: 400px;
  width: 400px;
}
.right {
  width: 100px;
  background-color: blue;
}
.left {
  width: 100px;
  background-color: red;
}
.center {
  flex: 1;
  background-color: purple;
} */
.three-column-layout {
  width: 400px;
  height: 400px;
}
.left {
  float: left;
  width: 50px;
  height: 100%;
  background-color: #f66;
}
.center {
  float: left;
  width: 100px;
  height: 100%;
  background-color: #66f;
}
.right {
  overflow: hidden;
  height: 100%;
  background-color: #3c9;
}
